[general]

# The location of the repository in which to store backup snapshots.
repo = {{ repo }}

# The repository password.
password = {{ password }}

# AWS credentials to authenticate to S3-backed repositories.
{% if aws_key is defined %}
aws_key = {{ aws_key }}
{% else %}
#aws_key =
{% endif %}
{% if aws_secret is defined %}
aws_secret = {{ aws_secret }}
{% else %}
#aws_secret =
{% endif %}

# Create a snapshot to backup specified data.
backup = {{ backup | default('yes') }}

# Remove snapshots according to a policy.
# Defaults to 'no'.
retention = {{ retention | default('yes') }}

# Check repository integrity and consistency
# Defaults to 'no'.
check = {{ check | default('yes') }}


[backup]

# Files and directories to backup when taking snapshots.
# This option may be specified multiple times.
{% for include in includes %}
include = {{ include }}
{% else %}
#include =
{% endfor %}

# Patterns by which to exclude files and directories from snapshots.
# This option may be specified multiple times.
{% for exclude in excludes %}
exclude = {{ exclude }}
{% else %}
#exclude =
{% endfor %}

# A short string to help identify a snapshot.
# This option may be specified multiple times.
{% for snapshot_tag in snapshot_tags %}
tag = {{ snapshot_tag }}
{% else %}
#tag =
{% endfor %}

# Only backup files from the file systems on which the initially specified
# files or directories reside.
one_file_system = yes


[retention]

# Never delete the n last (most recent) snapshots
keep_last = {{ keep.last | default(omit) }}

# For the last n hours/days/weeks/months/years in which a snapshot was made,
# keep only the last snapshot for each hour/day/week/month/year.
# When "retention = yes", above, default is to keep the last 7 backups, and
# 2 each for daily, weekly, monthly and yearly backups.
keep_hourly = {{ keep.hourly | default(omit) }}
keep_daily = {{ keep.daily | default(omit) }}
keep_weekly = {{ keep.weekly | default(omit) }}
keep_monthly = {{ keep.monthly | default(omit) }}
keep_yearly = {{ keep.yearly | default(omit) }}

# Keep all snapshots which have all tags specified by this option (can be specified multiple times).
{% for keep_tag in keep.tags | default(omit) %}
keep_tag = {{ keep_tag }}
{% else %}
#keep_tag =
{% endfor %}
